#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
out/artifacts/AnnotatedTree_jar/AnnotatedTree.jar
out/production/AnnotatedTree/libs/AnnotatedSentence.jar
out/production/AnnotatedTree/libs/MorphologicalAnalysis.jar
out/production/AnnotatedTree/libs/NamedEntityRecognition.jar
out/production/AnnotatedTree/libs/ParseTree.jar
out/production/AnnotatedTree/libs/PropBank.jar
out/production/AnnotatedTree/libs/Sampling.jar
out/production/AnnotatedTree/libs/SyntacticParser.jar
out/production/AnnotatedTree/libs/Translation.jar
out/production/AnnotatedTree/libs/Util.jar
out/production/AnnotatedTree/libs/WordNet.jar
